@model AddQuestionModel
@{
    ViewData["Title"] = "AddQuestion";
}


<div>
    <form asp-controller="Home" asp-action="AddQuestion" FormMethod="post">
        @{
            <h1>
                Dodaj pytanie:
            </h1>
            <label>Pytanie: </label> <br />
            @Html.TextBoxFor(model => model.Question) <br />

            <label>Odpowiedzi: </label> <br />
            @Html.TextBoxFor(model => model.Answers) <br />
       
            @Html.TextBoxFor(model => model.Answers) <br />
           
            @Html.TextBoxFor(model => model.Answers) <br />
          
            @Html.TextBoxFor(model => model.Answers) <br />
            <input type="submit" value="Dodaj" />
        }
    </form>
</div>
